:root {
    --main-bg-color: #FFC107;
    --main-accent-color: #6200EA;
}
html {
    background-color: #eee;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Roboto Slab', serif;
    margin: 0;
}
h1 {
    width: 100%;
    text-align: center;
    background-color: var(--main-bg-color);
    padding: 10px 0px 10px 0px;
}
article {
    display: flex;
    height: 100%;
}
#sidebar {
    width: 25%;
    height: 100%;
}
#main-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
#content-container {
    display: none;

}
/* The top of the friend feed */
#friends-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* A post object */
details {
    border-style: solid;
    border-color: var(--main-bg-color);
    border-width: 1px;
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 2.5px 0.1px #333;
    background-color: white;
}
/* The post header */
section {
    display: flex;
}
summary {
    display: flex;
    align-items: center;
    font-size: 18px
}
summary div {
    display: flex;
    justify-content: space-between;
    algin-items: center;
    width: 98%;
    padding-right: 20px;
}
summary div:nth-child(1) {
    margin-left: 10px;
}
summary:after {
    width: 2%;
    font-size: 20px;
    content: "\25b8";
    margin-left: auto;
}
details[open] summary:after {
    content: "\25be";
    margin-left: auto;
}
section button {
    border-style: none;
    border-radius: 1px;
    background-color: var(--main-accent-color);
    color: white;
    font-size: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
}
